USE [master]
GO
/****** Object:  Database [TransporteNorteDb]    Script Date: 6/23/2026 5:12:47 PM ******/
CREATE DATABASE [TransporteNorteDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TransporteNorteDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TransporteNorteDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TransporteNorteDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TransporteNorteDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TransporteNorteDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TransporteNorteDb]
GO
/****** Object:  User [sysTransportesNorteSystem]    Script Date: 6/23/2026 5:12:47 PM ******/
CREATE USER [sysTransportesNorteSystem] FOR LOGIN [sysTransportesNorteSystem] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [sysTransportesNorteSystem]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [sysTransportesNorteSystem]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 6/23/2026 5:12:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Completo] [nvarchar](100) NOT NULL,
	[No_Empleado] [nvarchar](15) NOT NULL,
	[Posicion_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_EmpleadoWithNombre]    Script Date: 6/23/2026 5:12:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_EmpleadoWithNombre]
AS
	SELECT Id, Nombre_Completo FROM Empleado
GO
/****** Object:  Table [dbo].[Tracto]    Script Date: 6/23/2026 5:12:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tracto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Placa_Tracto] [nvarchar](12) NOT NULL,
	[Peso_Tara] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Tracto]    Script Date: 6/23/2026 5:12:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Tracto]
AS
	SELECT Id, Placa_Tracto FROM Tracto
GO
/****** Object:  Table [dbo].[CentroOperativo]    Script Date: 6/23/2026 5:12:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CentroOperativo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Embarque]    Script Date: 6/23/2026 5:12:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Embarque](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Folio] [nvarchar](14) NOT NULL,
	[Centro_Operativo_Id] [int] NOT NULL,
	[Peso_Teorico_ERP] [decimal](10, 2) NOT NULL,
	[Peso_Bascula_Salida] [decimal](10, 2) NULL,
	[Peso_Neto_Real] [decimal](10, 2) NULL,
	[Justificacion_Diferencia] [nvarchar](1500) NULL,
	[Fecha_Registro] [datetime] NOT NULL,
	[Fecha_Salida] [datetime] NULL,
	[Tracto_Id] [int] NOT NULL,
	[Conductor_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Embarque]    Script Date: 6/23/2026 5:12:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_Embarque] AS
SELECT  
    E.Id
    ,[Folio]
    ,CO.Nombre Centro_Operativo
    ,T.Peso_Tara
    ,[Peso_Teorico_ERP]
    ,[Peso_Bascula_Salida]
    ,[Peso_Neto_Real]
    ,[Justificacion_Diferencia]
    ,[Fecha_Registro]
    ,[Fecha_Salida]
    ,T.Placa_Tracto
    ,C.Nombre_Completo Nombre_Conductor
FROM Embarque E
INNER JOIN CentroOperativo CO ON E.Centro_Operativo_Id = CO.Id
INNER JOIN Empleado C ON E.Conductor_Id = C.Id
INNER JOIN Tracto T ON E.Tracto_Id = T.id
GO
/****** Object:  Table [dbo].[EmpleadoRol]    Script Date: 6/23/2026 5:12:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpleadoRol](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Empleado_Id] [int] NOT NULL,
	[Rol_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posicion]    Script Date: 6/23/2026 5:12:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posicion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](45) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 6/23/2026 5:12:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](45) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Embarque] ADD  DEFAULT (getdate()) FOR [Fecha_Registro]
GO
ALTER TABLE [dbo].[Embarque]  WITH CHECK ADD FOREIGN KEY([Centro_Operativo_Id])
REFERENCES [dbo].[CentroOperativo] ([Id])
GO
ALTER TABLE [dbo].[Embarque]  WITH CHECK ADD FOREIGN KEY([Conductor_Id])
REFERENCES [dbo].[Empleado] ([Id])
GO
ALTER TABLE [dbo].[Embarque]  WITH CHECK ADD FOREIGN KEY([Tracto_Id])
REFERENCES [dbo].[Tracto] ([Id])
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD FOREIGN KEY([Posicion_Id])
REFERENCES [dbo].[Posicion] ([Id])
GO
ALTER TABLE [dbo].[EmpleadoRol]  WITH CHECK ADD FOREIGN KEY([Empleado_Id])
REFERENCES [dbo].[Empleado] ([Id])
GO
ALTER TABLE [dbo].[EmpleadoRol]  WITH CHECK ADD FOREIGN KEY([Rol_Id])
REFERENCES [dbo].[Rol] ([Id])
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateEmbarque]    Script Date: 6/23/2026 5:12:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateEmbarque]
    @Centro_Operativo_Id INT,
    @Tracto_Id INT,
    @Conductor_Id INT,
    @Peso_Teorico_ERP DECIMAL(10,2)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @NewId INT;
        DECLARE @NewFolio NVARCHAR(20);

        INSERT INTO Embarque
            (Folio, Centro_Operativo_Id, Tracto_Id, Conductor_Id, Peso_Teorico_ERP)
        VALUES
            ('TEMP', @Centro_Operativo_Id, @Tracto_Id, @Conductor_Id, @Peso_Teorico_ERP);

        SET @NewId = SCOPE_IDENTITY();

        SET @NewFolio = 'SAI-' + CAST(YEAR(GETDATE()) AS VARCHAR(4)) + '-' + RIGHT('0000' + CAST(@NewId AS VARCHAR(4)), 4);

        UPDATE Embarque
        SET Folio = @NewFolio
        WHERE Id = @NewId;

        COMMIT TRANSACTION;

        SELECT @NewFolio AS Folio_Despacho, @NewId AS Id;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateEmbarque_Salida]    Script Date: 6/23/2026 5:12:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_UpdateEmbarque_Salida]
	@Id INT, 
	@Peso_Bascula_Salida DECIMAL, 
	@Peso_Neto_Real DECIMAL, 
	@Justificacion_Diferencia NVARCHAR(1500) = NULL
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;

	BEGIN TRY

		BEGIN TRANSACTION;

		UPDATE Embarque
		SET	Peso_Bascula_Salida = @Peso_Bascula_Salida, 
			Peso_Neto_Real = @Peso_Neto_Real, 
			Justificacion_Diferencia = @Justificacion_Diferencia, 
			Fecha_Salida = GETDATE()
		WHERE Id = @Id

		COMMIT TRANSACTION;

	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        THROW;
	END CATCH
END
GO
USE [master]
GO
